# 1. Data types

Kdb+ comes with its built-in programming language that is known as q. It incorporates a superset of standard SQL which is extended for time-series analysis and offers many advantages over the standard version. Anyone familiar with SQL can learn q in a matter of days and be able to quickly write her own ad-hoc queries.

![Data types](./data_types.PNG)

In [5]:
x: `mohan / `mohan is a symbol, assigned to a variable x

In [6]:
x

`mohan

In [7]:
type x / let’s check the type of x

-11h

In [8]:
y: (`abc;`bca;`cab) / list of three symbols, y is the variable name.

In [9]:
y
type y

`abc`bca`cab

11h

In [10]:
y1: (`abc`bca`cab)     / another way of writing y, please note NO semicolon

In [11]:
y1

`abc`bca`cab

In [12]:
y2: (`$"Hello world")  / string to symbol conversion

In [13]:
y2

`Hello world

In [14]:
y[0] / Get the 0th element
y 0 / Another way the get the 0th element
y 0 2 / Get the 0th and 2nd elements

`abc

`abc

`abc`cab

In [15]:
z: (`abc; 10 20 30; (`a`b); 9.9; 8.8)

In [16]:
z 2 0 / Get the 2nd and 0th elements in list

`a`b
`abc

In [19]:
z[2;0] / Get the 2nd element in list and parse to get the 0th element in that result

`a

In [20]:
x: "Hello World" / list of character

In [22]:
x 0 2
x 2 0

"Hl"

"lH"

# 2. Type Casting

It is often required to change the data type of some data from one type to another. The standard casting function is the “$” dyadic operator.

Three approaches are used to cast from one type to another (except for string) −

    - Specify desired data type by its symbol name
    - Specify desired data type by its character
    - Specify desired data type by it short value.

## Casting Integers to Floats

In the following example of casting integers to floats, all the three different ways of casting are equivalent

In [1]:
a: 9 18 27

In [2]:
type a

7h

In [3]:
$[`float;a] / Specify desired data type by its symbol name, 1st way

9 18 27f

In [4]:
$["h";a] / Specify desired data type by its character, 2nd way (h is "short" type)

9 18 27h

In [5]:
$[9h;a] / Specify desired data type by its short value, 3rd way (9 is "float" type and "h" is list)

9 18 27f

Check if all the three operations are equivalent:

In [10]:
($[`float;a]~$["f";a]) and ($[`float;a] ~ $[9h;a])  // true case

($[`float;a]~$["h";a]) and ($[`float;a] ~ $[9h;a])  // false case

1b

0b

## Casting Strings to Symbols

Casting string to symbols and vice versa works a bit differently. Let’s check it with an example

In [18]:
b: ("Hello";"World";"HelloWorld") / define a list of strings

In [19]:
b

"Hello"
"World"
"HelloWorld"

In [21]:
c: `$b / this is how to cast strings to symbols
c / Now c is a list of symbols

`Hello`World`HelloWorld

Attempting to cast strings to symbols using the keyed words `symbol or 11h will fail with the type error

In [22]:
b

"Hello"
"World"
"HelloWorld"

In [22]:
`symbol$b

type: type

In [22]:
11h$b

type: type

## Casting Strings to Non-Symbols

In [24]:
b: 900               / b contain single atomic integer

In [25]:
b

900

In [26]:
c:string b          / convert this integer atom to string “900”

In [27]:
c

"900"

In [28]:
`int $ c            / converting string to integer will return the
                    / ASCII equivalent of the character “9”, “0” and
                    / “0” to produce the list of integer 57, 48 and
                    / 48.

57 48 48i

In [29]:
6h $ c              / Same as above

57 48 48i

In [30]:
"i" $ c             / Same a above

57 48 48i

In [32]:
"I" $ c

900i

# 3. Date

A date in kdb+ is internally stored as the integer number of days since our reference date is 01Jan2000. A date after this date is internally stored as a positive number and a date before that is referenced as a negative number.

By default, a date is written in the format “YYYY.MM.DD”

In [34]:
x:2022.05.17 / This is how we write 17nd May 2022
x

2022.05.17

In [36]:
`int $x / Number of days since 2000.01.01

8172i

In [37]:
`year $x / Extract the year information

2022i

In [38]:
x.year / Another way to extract the year

2022i

In [39]:
`mm$x / Extract the month information

5i

In [40]:
x.mm / Another way to extract the month

5i

In [41]:
`dd$x / Extract the day

17i

In [42]:
x.dd

17i

**Arithmetic and logical operations** can be performed directly on date

In [43]:
x+1 / Add 1 day

2022.05.18

x-7 / Subtract 7 days

The 1st of January 2000 fell on a Saturday. Therefore any Saturday throughout the history or in the future when divided by 7, would yield a remainder of 0, Sunday gives 1, Monday yield 2.

             Day               mod 7
           Saturday              0
           Sunday                1
           Monday                2
           Tuesday               3
           Wednesday             4
           Thursday              5
           Friday                6

## Times

A time is internally stored as the integer number of milliseconds since the stroke of midnight. A time is written in the format HH:MM:SS.MSS

In [49]:
tt1: 04:32:00.000 / tt1 store the time 04:32 AM
tt1

04:32:00.000

In [51]:
`int$tt1              / Number of milliseconds in 4.32 hours

16320000i

In [52]:
`hh$tt1               / Extract the hour component from time

4i

In [54]:
tt1.hh

4i

In [56]:
`mm$tt1               / Extract the minute component from time

32i

In [58]:
tt1.mm

32i

In [59]:
`ss$tt1               / Extract the second component from time

0i

In [60]:
tt1.ss

0i

## Datetimes
A datetime is the combination of a date and a time, separated by ‘T’ as in the ISO standard format. A datetime value stores the fractional day count from midnight Jan 1, 2000.

In [61]:
dt: 2022.01.23T04:32:00.000

In [62]:
dt

2022.01.23T04:32:00.000

In [63]:
type dt

-15h

In [66]:
`float$dt
`int$dt

8058.189

8058i

The underlying fractional day count can be obtained by casting to float.