# 1. Data types

Kdb+ comes with its built-in programming language that is known as q. It incorporates a superset of standard SQL which is extended for time-series analysis and offers many advantages over the standard version. Anyone familiar with SQL can learn q in a matter of days and be able to quickly write her own ad-hoc queries.

![Data types](./data_types.PNG)

In [1]:
x: `mohan / `mohan is a symbol, assigned to a variable x

In [2]:
x

`mohan

In [3]:
type x / let’s check the type of x

-11h

In [4]:
y: (`abc;`bca;`cab) / list of three symbols, y is the variable name.

In [5]:
y: `abc

In [6]:
y
type y

`abc

-11h

In [7]:
y1: (`abc`bca`cab)     / another way of writing y, please note NO semicolon

In [8]:
y1

`abc`bca`cab

In [9]:
y2: (`$"Hello world")  / string to symbol conversion

In [10]:
y2

`Hello world

In [10]:
y[0] / Get the 0th element
y 0 / Another way the get the 0th element
y 0 2 / Get the 0th and 2nd elements

abc: abc

In [11]:
z: (`abc; 10 20 30; (`a`b); 9.9; 8.8)

In [12]:
z 2 0 / Get the 2nd and 0th elements in list

`a`b
`abc

In [13]:
z[2;0] / Get the 2nd element in list and parse to get the 0th element in that result

`a

In [14]:
x: "Hello World" / list of character

In [15]:
x 0 2
x 2 0

"Hl"

"lH"

# 2. Type Casting

It is often required to change the data type of some data from one type to another. The standard casting function is the “$” dyadic operator.

Three approaches are used to cast from one type to another (except for string) −

    - Specify desired data type by its symbol name
    - Specify desired data type by its character
    - Specify desired data type by it short value.

## Casting Integers to Floats

In the following example of casting integers to floats, all the three different ways of casting are equivalent

In [16]:
a: 9 18 27

In [17]:
type a

7h

In [18]:
$[`float;a] / Specify desired data type by its symbol name, 1st way

9 18 27f

In [19]:
$["h";a] / Specify desired data type by its character, 2nd way (h is "short" type)

9 18 27h

In [20]:
$[9h;a] / Specify desired data type by its short value, 3rd way (9 is "float" type and "h" is list)

9 18 27f

Check if all the three operations are equivalent:

In [21]:
($[`float;a]~$["f";a]) and ($[`float;a] ~ $[9h;a])  // true case

($[`float;a]~$["h";a]) and ($[`float;a] ~ $[9h;a])  // false case

1b

0b

## Casting Strings to Symbols

Casting string to symbols and vice versa works a bit differently. Let’s check it with an example

In [22]:
b: ("Hello";"World";"HelloWorld") / define a list of strings

In [23]:
b

"Hello"
"World"
"HelloWorld"

In [24]:
c: `$b / this is how to cast strings to symbols
c / Now c is a list of symbols

`Hello`World`HelloWorld

Attempting to cast strings to symbols using the keyed words `symbol or 11h will fail with the type error

In [25]:
b

"Hello"
"World"
"HelloWorld"

In [25]:
`symbol$b

type: type

In [25]:
11h$b

type: type

## Casting Strings to Non-Symbols

In [26]:
b: 900               / b contain single atomic integer

In [27]:
b

900

In [28]:
c:string b          / convert this integer atom to string “900”

In [29]:
c

"900"

In [30]:
`int $ c            / converting string to integer will return the
                    / ASCII equivalent of the character “9”, “0” and
                    / “0” to produce the list of integer 57, 48 and
                    / 48.

57 48 48i

In [31]:
6h $ c              / Same as above

57 48 48i

In [32]:
"i" $ c             / Same a above

57 48 48i

In [33]:
"I" $ c

900i

# 3. Date

A date in kdb+ is internally stored as the integer number of days since our reference date is 01Jan2000. A date after this date is internally stored as a positive number and a date before that is referenced as a negative number.

By default, a date is written in the format “YYYY.MM.DD”

In [34]:
x:2022.05.17 / This is how we write 17nd May 2022
x

2022.05.17

In [35]:
`int $x / Number of days since 2000.01.01

8172i

In [36]:
`year $x / Extract the year information

2022i

In [37]:
x.year / Another way to extract the year

2022i

In [38]:
`mm$x / Extract the month information

5i

In [39]:
x.mm / Another way to extract the month

5i

In [40]:
`dd$x / Extract the day

17i

In [41]:
x.dd

17i

**Arithmetic and logical operations** can be performed directly on date

In [42]:
x+1 / Add 1 day

2022.05.18

x-7 / Subtract 7 days

The 1st of January 2000 fell on a Saturday. Therefore any Saturday throughout the history or in the future when divided by 7, would yield a remainder of 0, Sunday gives 1, Monday yield 2.

             Day               mod 7
           Saturday              0
           Sunday                1
           Monday                2
           Tuesday               3
           Wednesday             4
           Thursday              5
           Friday                6

## Times

A time is internally stored as the integer number of milliseconds since the stroke of midnight. A time is written in the format HH:MM:SS.MSS

In [43]:
tt1: 04:32:00.000 / tt1 store the time 04:32 AM
tt1

04:32:00.000

In [44]:
`int$tt1              / Number of milliseconds in 4.32 hours

16320000i

In [45]:
`hh$tt1               / Extract the hour component from time

4i

In [46]:
tt1.hh

4i

In [47]:
`mm$tt1               / Extract the minute component from time

32i

In [48]:
tt1.mm

32i

In [49]:
`ss$tt1               / Extract the second component from time

0i

In [50]:
tt1.ss

0i

## Datetimes
A datetime is the combination of a date and a time, separated by ‘T’ as in the ISO standard format. A datetime value stores the fractional day count from midnight Jan 1, 2000.

In [51]:
dt: 2022.01.23T04:32:00.000

In [52]:
dt

2022.01.23T04:32:00.000

In [53]:
type dt

-15h

In [54]:
`float$dt
`int$dt

8058.189

8058i

The underlying fractional day count can be obtained by casting to float.

# 4. Lists

Lists are the basic building blocks of q language, so a thorough understanding of lists is very important. A list is simply an ordered collection of atoms (atomic elements) and other lists (group of one or more atoms).

## Type of list

A **general list** encloses its items within matching parentheses and separates them with semicolons. For example:

(9;8;7)   or   ("a"; "b"; "c")   or   (-10.0; 3.1415e; `abcd; "r")

If a list comprises of atoms of same type, it is known as a uniform list. Else, it is known as a general list (mixed type).

## Count
We can obtain the number of items in a list through its count.

In [55]:
l1:(-10.0;3.1415e;`abcd;"r")    / Assigning variable name to general list

In [56]:
l1

-10f
3.1415e
`abcd
"r"

In [57]:
count l1 / Calculating number of items in the list l1

4

Example of simple List

In [58]:
h:(1h;2h;255h)                    / Simple short List
h

1 2 255h

In [59]:
f:(123.4567;9876.543;98.7)        / Simple Floating Point List
f

123.4567 9876.543 98.7

In [60]:
b:(0b;1b;0b;1b;1b)                / Simple Binary Lists
b

01011b

In [61]:
symbols:(`Life;`Is;`Beautiful)    / Simple Symbols List
symbols

`Life`Is`Beautiful

In [62]:
chars:("h";"e";"l";"l";"o";" ";"w";"o";"r";"l";"d")
                                    / Simple char lists and Strings.
chars

"hello world"

*Note − A simple list of char is called a string.*

# 5. Indexing

A list is ordered from left to right by the position of its items. The offset of an item from the beginning of the list is called its **index**. Thus, the first item has an index 0, the second item (if there is one) has an index 1, etc. A list of count **n** has index domain from **0** to **n–1**.

## Index Notation

Given a list L, the item at index **i** is accessed by **L[i]**. Retrieving an item by its index is called item indexing. For example,

In [63]:
L:(99;98.7e;`b;`abc;"z")

In [64]:
L[0]

99

## Indexed Assignment

Items in a list can also be assigned via item indexing. Thus,

In [65]:
L1:9 8 7

In [66]:
L1[1]: 10 / Indexed assignment into a simple list
          / enforces strict type matching.

In [67]:
L1

9 10 7

## Lists from Variables

In [68]:
l1:(9;8;40;200)
l2:(1 4 3; `abc`xyz)
l:(l1;l2)

In [69]:
l

9 8 40 200
(1 4 3;`abc`xyz)

## Joining Lists
The most common operation on two lists is to join them together to form a larger list. More precisely, the join operator (,) appends its right operand to the end of the left operand and returns the result. It accepts an atom in either argument.

In [70]:
1,2 3 4

1 2 3 4

In [71]:
1 2 3, 4.4 5.6

1
2
3
4.4
5.6

## Nesting
Data complexity is built by using lists as items of lists.

### Depth
The number of levels of nesting for a list is called its depth. Atoms have a depth of 0 and simple lists have a depth of 1.

In [72]:
l1:(9;8;(99;88))

In [73]:
count l1

3

Here is a list of depth 3 having two items

In [74]:
l5: (9;(90;180;900 1800 2700 3600))

In [75]:
count l5

2

In [76]:
count l5[1]

3

## Indexing at Depth

It is possible to index directly into the items of a nested list.
**Repeated Item Indexing**
Retrieving an item via a single index always retrieves an uppermost item from a nested list.

In [77]:
L:(1;(100;200;(300;400;500;600)))

In [78]:
L[0]

1

In [79]:
L[1]

100
200
300 400 500 600

Since the result L[1] is itself a list, we can retrieve its elements using a single index.

In [80]:
L[1][2]

300 400 500 600

In [81]:
L[1][2][0]
L[1;2;0] / Another way to index

300

300

## Elided Indices
### Eliding Indices for a General List

In [82]:
L:((1 2 3; 4 5 6 7); (`a`b`c;`d`e`f`g;`0`1`2);("good";"morning"))
L

(1 2 3;4 5 6 7)
(`a`b`c;`d`e`f`g;`0`1`2)
("good";"morning")

In [83]:
L[;1;] / Retrieve all items in the second position of each list at the top level.

4 5 6 7
`d`e`f`g
"morning"

In [84]:
L[;;2] / Retrieve the items in the third position for each list at the second level.

3 6
`c`f`2
"or"

# 6. Dictionaries

Dictionaries are an extension of lists which provide the foundation for creating tables. In mathematical terms, dictionary creates the

    “domain → Range”

or in general (short) creates

    “key → value”

relationship between elements.

A dictionary is an ordered collection of key-value pairs that is roughly equivalent to a hash table. A dictionary is a mapping defined by an explicit I/O association between a domain list and a range list via positional correspondence. The creation of a dictionary uses the "xkey" primitive (!)

In [85]:
d:`Name`Age`Sex`Weight!(`John;36;"M";60.3)   / Create a dictionary d
d

Name  | `John
Age   | 36
Sex   | "M"
Weight| 60.3

In [86]:
count d / To get the number of rows in a dictionary.

4

In [87]:
key d               / The function key returns the domain

`Name`Age`Sex`Weight

In [88]:
value d             / The function value returns the range.

`John
36
"M"
60.3

In [89]:
cols d             / The function cols also returns the domain.

`Name`Age`Sex`Weight

## Lookup
Finding the dictionary output value corresponding to an input value is called looking up the input.

In [90]:
d[`Name]

`John

In [91]:
d[`Name`Age]

`John
36

## Reverse Lookup with Find (?)

The find (?) operator is used to perform reverse lookup by mapping a range of elements to its domain element.

In [92]:
d2:`x`y`z!99 88 77

In [93]:
d2?77

`z

In case the elements of a list is not unique, the find returns the first item mapping to it from the domain list.

## Removing Entries
To remove an entry from a dictionary, the delete ( _ ) function is used. The left operand of ( _ ) is the dictionary and the right operand is a key value.

In [94]:
d2:`x`y`z!99 88 77

In [95]:
d2 _ `z

x| 99
y| 88

In [96]:
`x`y _ d2           / Deleting multiple entries

z| 77

## Column Dictionaries
Column dictionaries are the basics for creation of tables. Consider the following example

In [97]:
scores: `name`id!(`John`Jenny`Jonathan;9 18 27)

In [98]:
scores[`name]               / The values for the name column are

`John`Jenny`Jonathan

In [99]:
scores.name                 / Retrieving the values for a column in a
                              / column dictionary using dot notation.

`John`Jenny`Jonathan

In [100]:
scores[`name][1]            / Values in row 1 of the name column

`Jenny

In [101]:
scores[`id][2]              / Values in row 2 of the id column is

27

## Flipping a Dictionary

The net effect of flipping a column dictionary is simply reversing the order of the indices. This is logically equivalent to transposing the rows and columns.

### Flip on a Column Dictionary

The transpose of a dictionary is obtained by applying the unary flip operator. Take a look at the following example −

In [102]:
scores

name| John Jenny Jonathan
id  | 9    18    27

In [103]:
flip scores

name     id
-----------
John     9
Jenny    18
Jonathan 27

## 7. Table

Tables are at the heart of kdb+. A table is a collection of named columns implemented as a dictionary. q tables are column-oriented.
Tables are created using the following syntax

In [104]:
trade:([]time:();sym:();price:();size:())

In [105]:
trade

time sym price size
-------------------

In the above example, we have not specified the type of each column. This will be set by the first insert into the table.
Another way, we can specify column type on initialization −

In [106]:
trade:([]time:`time$();sym:`$();price:`float$();size:`int$())

In [107]:
trade

time sym price size
-------------------

Or we can also define non-empty tables

In [108]:
trade:([]sym:(`a`b);price:(1 2))
trade

sym price
---------
a   1
b   2

If there are no columns within the square brackets as in the examples above, the table is **unkeyed**.

To create a **keyed table**, we insert the column(s) for the key in the square brackets.

In [109]:
trade:([sym:`$()]time:`time$();price:`float$();size:`int$())

In [110]:
trade

sym| time price size
---| ---------------

One can also define the column types by setting the values to be null lists of various types −

In [111]:
trade: ([]sym:`ibm`msft`apple`samsung; mcap:2000 4000 9000 6000; ex:`nasdaq`nasdaq`DAX`Dow)
trade

sym     mcap ex
-------------------
ibm     2000 nasdaq
msft    4000 nasdaq
apple   9000 DAX
samsung 6000 Dow

In [112]:
cols trade / column names of a table

`sym`mcap`ex

In [113]:
cols `trade

`sym`mcap`ex

In [114]:
trade.sym / Retrieves the value of column sym

`ibm`msft`apple`samsung

The function **meta** applied to a table retrieves its metadata.

The result is a keyed table with one record for each column in the original table
   + The key column c of the result contains the column names.
   + The column **t** contains a symbol denoting the type char of the column.
   + The column **f** contains the domains of any foreign key or link columns.
   + The column **a** contains any attributes associated with the column.

In [115]:
meta trade

c   | t f a
----| -----
sym | s
mcap| j
ex  | s

### XCOLS

Rename column(s) using **xcol**

```
x xcols y    xcols[x;y]
```
Where
   + y is a simple table, passed by value
   + x is a symbol vector of some or all of y’s column names

returns y with x as its first column/s.

In [116]:
cols trade

`sym`mcap`ex

In [117]:
trade:xcols[reverse cols trade; trade] / reverse cols and reassign trade
cols trade

`ex`mcap`sym

In [118]:
trade:`sym xcols trade  / move sym to the front

In [119]:
trade

sym     ex     mcap
-------------------
ibm     nasdaq 2000
msft    nasdaq 4000
apple   DAX    9000
samsung Dow    6000

### XCOL

Rename table columns

```
x xcol y    xcol[x;y]
```

Where y is a table, passed by value, and x is
   + a symbol vector of length no greater than count cols y returns y with its first count x columns renamed
   + a dictionary (since V3.6 2018.08.24) formed from two symbol vectors, of which the keys are all the names of columns of y, returns y with columns renamed according to the dictionary

In [120]:
cols trade

`sym`ex`mcap

In [121]:
count trade / returns the number of records in table

4

### Basic select and update

In [122]:
select from trade

sym     ex     mcap
-------------------
ibm     nasdaq 2000
msft    nasdaq 4000
apple   DAX    9000
samsung Dow    6000

In [123]:
select ex from trade

ex
------
nasdaq
nasdaq
DAX
Dow

In [124]:
update MCAP:mcap%100 from trade / update (add) a column to the right of the table

sym     ex     mcap MCAP
------------------------
ibm     nasdaq 2000 20
msft    nasdaq 4000 40
apple   DAX    9000 90
samsung Dow    6000 60

In [125]:
delete MCAP from trade / delete the column from table

sym     ex     mcap
-------------------
ibm     nasdaq 2000
msft    nasdaq 4000
apple   DAX    9000
samsung Dow    6000

#### xkey
Set specified columns as primary keys of a table

```
x xkey y    xkey[x;y]
```

Where symbol atom or vector *x* lists columns in table *y*, which is passed by
   + value, returns
   + reference, updates

*y* with *x* set as the primary keys.

In [126]:
`sym xkey `trade

`trade

### keys, xkey

#### keys
Get or set key column/s of a table

```
keys x    keys[x]
```

Where *x* is a table (by value or reference), returns as a symbol vector the primary key column/s of x – empty if none.

In [127]:
keys trade

,`sym

### Compound Primary key

A compound key in SQL is a collection of multiple columns that together provide a unique value for each row. A compound key in q is simply a table association k!v in which k has multiple columns.

In [128]:
ktc:([lname:`Dent`Beeblebrox`Prefect; fname:`Arthur`Zaphod`Ford]; iq:98 42 126)
ktc

lname      fname | iq
-----------------| ---
Dent       Arthur| 98
Beeblebrox Zaphod| 42
Prefect    Ford  | 126

In [129]:
ktc[`lname`fname!`Prefect`Ford] /lookup by a compound key record

iq| 126

In [130]:
ktc[`Dent`Arthur]

iq| 98

In [131]:
ktc (`Dent`Arthur;`Prefect`Ford) / lookup multiple value records with a list of compound keys

iq
---
98
126

In [132]:
kts:([k:101 102 103] v1:`a`b`c; v2:1.1 2.2 3.3)

In [133]:
kts

k  | v1 v2
---| ------
101| a  1.1
102| b  2.2
103| c  3.3

In [134]:
ktc:([k1:`a`b`c;k2:`x`y`z] v1:`a`b`c; v2:1.1 2.2 3.3)

In [135]:
ktc

k1 k2| v1 v2
-----| ------
a  x | a  1.1
b  y | b  2.2
c  z | c  3.3

In [136]:
kts ([] k: 101 103) / Since we are supposed to provide a list of key records for lookup,
                    / we can simply create an anonymous table whose records are precisely the form we need.

v1 v2
------
a  1.1
c  3.3

### Foreign keys and Virtual columns

A foreign key defines a mapping from the rows of the table in which it is defined to the rows of the table with the corresponding primary key.

Foreign keys provide **referential integrity**. In other words, an attempt to insert a foreign key value that is not in the primary key will fail.

Consider the following examples. In the first example, we will define a foreign key explicitly on initialization. In the second example, we will use foreign key chasing which does not assume any prior relationship between the two tables.

##### Example 1 − Define foreign key on initialization

In [137]:
sector:([brand:`SAMSUNG`HSBC`JPMC`APPLE]ex:`N`CME`DAQ`N; MC:1000 2000 3000 4000)
sector

brand  | ex  MC
-------| --------
SAMSUNG| N   1000
HSBC   | CME 2000
JPMC   | DAQ 3000
APPLE  | N   4000

In [138]:
tab:([]brand:`sector$`HSBC`APPLE`APPLE`APPLE`HSBC`JPMC; price:6?9f)
tab

brand price
--------------
HSBC  3.534771
APPLE 4.65382
APPLE 4.643817
APPLE 3.659978
HSBC  1.602755
JPMC  2.71595

In [139]:
meta tab

c    | t f      a
-----| ----------
brand| s sector
price| f

In [140]:
select from tab where brand.ex=`N

brand price
--------------
APPLE 4.65382
APPLE 4.643817
APPLE 3.659978

##### Example 2 − no pre-defined relationship between tables

In [147]:
sector: ([symb:`IBM`MSFT`HSBC]ex:`N`CME`N;MC:1000 2000 3000)
tab:([]sym:`IBM`MSFT`MSFT`HSBC`HSBC;price:5?9f)

sector
tab

symb| ex  MC
----| --------
IBM | N   1000
MSFT| CME 2000
HSBC| N   3000

sym  price
--------------
IBM  5.206683
MSFT 0.7549972
MSFT 1.763917
HSBC 3.380742
HSBC 5.523707

To use foreign key chasing, we must create a table to key into sector.

In [180]:
update mc:(sector([]symb:sym))[`MC] from tab

sym  price     mc
-------------------
IBM  5.206683  1000
MSFT 0.7549972 2000
MSFT 1.763917  2000
HSBC 3.380742  3000
HSBC 5.523707  3000

##### Compound Foreign Key
A nested column is how to make a foreign key on a compound primary key. We recast the galactic travelers to make a keyed table with common key of last and first name.

In [181]:
ktc:([lname: `Dent`Beeblebrox`Prefect; fname:`Arthur`Zaphod`Ford]; iq:98 42 126)
ktc

lname      fname | iq
-----------------| ---
Dent       Arthur| 98
Beeblebrox Zaphod| 42
Prefect    Ford  | 126

We create a details table with a foreign key over *ktc* by placing the names in the foreign key column.

In [182]:
tdetails:([] name:`ktc$(`Beeblebrox`Zaphod;`Prefect`Ford;`Beeblebrox`Zaphod);
    sc:36 126 42)
tdetails

name sc
--------
1    36
2    126
1    42

In [184]:
select name.lname, name.fname, sc from tdetails

lname      fname  sc
---------------------
Beeblebrox Zaphod 36
Prefect    Ford   126
Beeblebrox Zaphod 42

When defining the schema of a table with a compound key column, specify the foreign key as a cast of an empty list.

In [185]:
([] name:`ktc$();sc:`long$())

name sc
-------

When the foreign key comprises multiple types you also cast the general list with the foreign table in its schema.

In [2]:
ktc:([k1:1 2 3; k2:2001.01.01 2001.01.02 2001.01.03] v: 1. 2. 3.)
tfc:([] fk:`ktc$(); s:`symbol$())
tfc,:(`ktc$(1; 2001.01.01); `a)

ktc
tfc

k1 k2        | v
-------------| -
1  2001.01.01| 1
2  2001.01.02| 2
3  2001.01.03| 3

fk s
----
0  a

### Working with Tables and Keyed Tables

we use the galactic travelers tables

In [153]:
t:([] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)
kt:([eid:1001 1002 1003] name:`Dent`Beeblebrox`Prefect; iq:98 42 126)

t
kt

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

##### Appending Records
The fundamental way to append a record to a table is to view the table as a list of records and join with   **,:**
Note that the fields in the record do not need to be in column order.

In [155]:
t,:(`name`iq)!(`Daniel;100)
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
Daniel     100

You can also append naked row values with **,:** but the fields must be in column order.

In [156]:
t,:(`David;111)

In [157]:
t

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
Daniel     100
David      111

##### First and Last records

Because a table is logically a list of records, the functions **first** and **last** retrieve the initial and final records, respectively.

In [158]:
first t / Get the first element in table

name| `Dent
iq  | 98

In [159]:
last t / Get the last element in table

name| `David
iq  | 111

You can retrieve the first or last n records of a table or keyed table using the Take operator #. Why does this work? Tables are lists and keyed tables are dictionaries and # works on both. Since # always returns a list and the extracted records conform, q recognizes the result of # as a table or keyed table with the same schema as the input.

In [160]:
2#t /Get the first 2 element in table

name       iq
-------------
Dent       98
Beeblebrox 42

In [161]:
-3#t /Get the last 3 element in table

name    iq
-----------
Prefect 126
Daniel  100
David   111

##### Find

The Find operator **?** used with a table returns the index of a record – i.e. its row number.

In [163]:
t?(`name`iq)!(`Daniel;100)

3

In [164]:
t?(`Prefect;126)

2

Since Find is atomic in the right operand, you can determine multiple row indices.

In [165]:
t?((`Prefect;126);(`Daniel;100))

2 3

##### Union with **,**
The Join operator **,** is defined for tables and keyed tables since they both comprise lists of records. It is essentially the same as UNION in SQL.

You can use **,** to append a record to (a copy of) a table, but no type checking will be performed.

In [166]:
t,(`name`iq)!(`Jack;`100)

name       iq
---------------
Dent       98
Beeblebrox 42
Prefect    126
Daniel     100
David      111
Jack       `100

Tables having **exactly** the same **meta** result can be joined to form a table. Since a table is a list of records, the result is obtained by appending the records of the right operand to those of the left.

In [168]:
t,([] name:1#`W; iq:1#26)

name       iq
--------------
Dent       98
Beeblebrox 42
Prefect    126
Daniel     100
David      111
W          26

Two keyed tables with the same meta result can be joined with **,** .

In [171]:
kt
kt,([eid:1003 1004] name:`Prefect`W; iq:150 26)

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    126

eid | name       iq
----| --------------
1001| Dent       98
1002| Beeblebrox 42
1003| Prefect    150
1004| W          26

##### Coalesce ^
Coalesce ^ can be used to merge two keyed tables having the same columns.  Its behavior derives from its behavior on dictionaries.

In [177]:
([k:`a`b`c] v:10 0N 30)^([k:`a`b`c] v:100 200 0N)

k| v
-| ---
a| 100
b| 200
c| 30

In [178]:
([k:`a`b`c`x] v:10 0N 30 40)^([k:`a`b`c`y]; v:100 200 0N 0N)

k| v
-| ---
a| 100
b| 200
c| 30
x| 40
y|

The performance of **^** is slower than that of **,** since fields of the right operand must be checked for null.

##### Column Join
Two tables with the same number of records can be joined sideways with Join Each (**,'**) to create a column join in which the columns are aligned in parallel

In [179]:
([] c1: `a`b`c),'([] c2: 100 200 300)

c1 c2
------
a  100
b  200
c  300